html,
body {
  box-sizing: border-box;

  padding: 0 10px;
  margin: 0;
  border: 0;

  background-color: #eee;

  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.meta-input {
  /* background-color: coral; */
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.meta-input input {
  margin-top: 10px;
}

.explanation {
  width: 500px;
  margin: 20px 0;
}

#user-input,
#user-output {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 500px;
  border: 1px solid #000;
  border-radius: 3px;
  resize: none;
  padding: 5px;
}

#user-input {
  flex: 1;
  margin-right: 10px;
}

#user-output {
  width: 400px;
  min-width: 400px;
}

.cipher-checkbox-container {
  margin-top: 10px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cipher-checkbox-container > input {
  margin-left: 0;
}

.cipher-checkbox-container > label {
  font-size: 15px;
}

.hidden {
  display: none;
}

.fail {
  width: 100%;
  /* height: 100px; */

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}

.sucess {
  width: 100%;
  /* height: 100px; */

  display: flex;
  justify-content: center;
  align-items: center;

  color: #3d47fc;
  font-size: 20px;
  font-weight: bold;
}

.button {
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #3d47fc;
  color: #fff;
}

.title {
  color: #5a5a5a;
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0px;
  text-align: center;
}

.meta-info {
  /* background-color: cornflowerblue; */
  color: #5a5a5a;
  font-weight: bold;
  font-size: 12px;
}

.stanza {
  margin-top: 10px;
}

.verse {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #3d47fc; */

  white-space: pre;
  font-family: monospace;
}

.cipher {
  white-space: pre;
  font-weight: bold;
  color: #5a5a5a;
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  /* background-color: chartreuse; */
}

.text {
  color: #5a5a5a;
  font-size: 12px;
  font-family: monospace;
  margin: 0;
  /* background-color: brown; */
}
